doctype html
html
 head
 meta(charset='utf-8')
 meta(name='viewport',content="initial-scalre=1.0,width=device-width")
 body
  <p>Я все лучше с каждым днем!</p>
  <img src="./images/me.jpg" alt="Это я"> 