doctype html
html
 head
 meta(charset='utf-8')
 meta(name='viewport',content="initial-scalre=1.0,width=device-width")
 body
   address 
     span 190000, Москва,
     | Красная площадь, д.1
     | 555-55-55
   <img src="./images/home.jpg" alt="home, sweet home"> 